@mixin border {
  box-shadow: 0 0 7px 0 rgba(102, 114, 222, 0.8);
  border-radius: 1rem;
}

@mixin hover {
  box-shadow: 0 0 10px 0 rgba(190, 197, 255, 0.8);
  outline: none;
  border-radius: 1rem;
}
